.form_container{
    background-color: #f5f5f5;
}
.forget_password_wrapper{
    min-height: 100vh;
}
.forget_password_wrapper > div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* margin: 10px; */
}